.bigCard {
	display: flex;
	position: relative;
	margin: 0 10px 0 0;
}
.CardHeadline {
	width: 100%;
	max-width: 196px;
	border: 1px solid red;
	padding: 5px;
	position: relative;
}

.CardExcerpt {
	position: absolute;
	bottom: 0;
	margin: 0;
}
.CardImage {
	width: 100%;
	border: 1px solid red;
}

.cardAnchor {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	opacity: 0;
}
